<div fxLayout="row" class="content" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutAlign="center stretch" style="width: 80%; "
       fxLayoutGap="15px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button routerLink="/home" mat-fab color="primary"><mat-icon>arrow_back_ios</mat-icon></button>
      <h3>Fiche patient</h3>
      <p></p>
    </div>
    <mat-card fxLayout="row" fxLayout.lt-md="column">
      <form *ngIf="patient !== undefined" [formGroup]="loginForm" fxFlex='70'>
        <div fxLayout="column" fxLayoutAlign="center start" fxFlex>
          
          
          <mat-form-field appearance="legacy">
            <mat-label>Prénom</mat-label>
            <input formControlName="name" matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Nom</mat-label>
            <input formControlName="surname" matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>N° Sécu</mat-label>
            <input formControlName="secu" matInput type="text">
          </mat-form-field>
        </div>
      </form>
        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
          <button *ngIf="patient; else elseBlock" (click)="modif()" mat-raised-button style="background-color: green; color:white">Modifier patient</button>
          <button *ngIf="patient && loginForm.enabled" (click)="onSubmit()" mat-raised-button style="background-color: green; color:white">Valider</button>
          <ng-template #elseBlock><button (click)="onSubmit()" mat-raised-button style="background-color: green; color:white">Ajouter patient</button></ng-template>
        </div>
    </mat-card>
  </div>
</div>
