<div fxLayout="column" class="content" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="start stretch" style="width: 80%;" fxLayoutGap="15px">
        <mat-card fxLayout="column" fxLayoutGap="30px">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button routerLink="../patient/0">
                  <mat-icon>person_add</mat-icon>
                  Ajouter un patient
                </button>
            </div>
            <app-search-bar></app-search-bar>
        </mat-card>
        <div class="results" fxLayout="column" fxLayoutGap="10px">
          <app-light-profiled *ngFor="let employee of employeesR | async" [employee]="employee"></app-light-profiled>
          <app-light-profile *ngFor="let patient of patientsR | async" [patient]="patient"></app-light-profile>
        </div>
    </div>
</div>
